name: Manter App da Patota Vivo
on:
  schedule:
    - cron: '17 3,9,15,21 * * *'
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Enviando Ping com Jitter Aleatório
        run: |
          ATRASO=$((RANDOM % 1800))
          echo "Iniciando sleep de $ATRASO segundos para camuflar o disparo..."
          sleep $ATRASO
          
          # Executa o curl APENAS com a primeira requisição (Sem a flag -L)
          curl -A "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36" \
          -s -o /dev/null -w "HTTP Status: %{http_code}\n" \
          https://patota.streamlit.app/
