name: Manter App da Patota Vivo

on:
  schedule:
    # Roda a cada 20 minutos para evitar o sleep do Streamlit
    - cron: '*/20 * * * *'
  workflow_dispatch: # Permite que você dê o "pontapé inicial" manual

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Enviando Ping para a Patota
        run: |
          curl -I https://patota.streamlit.app/
